#ctek-search-index-explorer-form {
  display: flex;
  fieldset#edit-left {
    margin-right:1em;
  }
  fieldset#edit-right {
    flex-grow:1;
    nav.pager {
      margin-bottom:1em;
      ul {
        text-align:right;
      }
    }
  }
}
